


.admin {

    .icon-happy {
        background-image: url(../images/unhappy.png);
    }

    .verified {
        width: 40%;
        height: 1em;
        background-color: #2C5E2E;
    }

    .item {
        margin-bottom: 1em;
    }
}