
.mission-listing {
    h2 {
        font-size: 25px;
    }

}

.thumbnail {
  border-radius: 0;
  border: 0;
  background-color: #f1f1f1;
  @media (min-width: 768px) {
    height: 210px;
  }
  position: relative;
    h3 {
        font-size: 20px;
        margin-top: 5px;
    }
}

.actions {
  @media (min-width: 768px) {
    position: absolute;
    bottom: 4px;
    margin: 0;
  }
}

.container {
  background-color: white;
}

.img-responsive {
  width: 100%;
}

.row {
  margin: 0 -5px;
}

.col-md-3,
.col-md-4 {
  padding: 0 5px;
}

#your-missions .add-mission {
  display: none;
}

.icons {
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  font-size: 0;
}

.icon {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  height: 35px;
  img {
    width: 35px;
  }

  & + & {
    display: none;
    float: right;
  }
}
