
.mission-listing {
    h2 {
        font-size: 25px;
    }

}

.thumbnail {
  border-radius: 0;
  border: 0;
  background-color: #f1f1f1;
  height: 260px;
  position: relative;
    h3 {
        font-size: 20px;
        margin-top: 5px;
    }
}

.actions {
  position: absolute;
  bottom: 4px;
  margin: 0;
}

.container {
  background-color: white;
}
