
.mission-listing {
    img {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }

    h2 {
        font-size: 20px;
        margin-left: 15px;
    }

    h3 {
        font-size: 20px;
        margin-top: 10px;
    }
}