.video-player {
  height: 300px;
  margin-top: 15px;
}

.description {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}

.controls {
  margin: 5px 0;
}

#play {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;

  & .glyphicon-play {
    display: none;
  }

  &.is-paused {
    & .glyphicon-pause {
      display: none;
    }
    & .glyphicon-play {
      display: block;
    }
  }
}

#add_tag,
.custom-tag {
  margin-top: 5px;
}

#custom-tags {
  margin-bottom: 5px;
  button {
    margin-right: 4px;
  }
}

#tags {
  list-style: none;
  min-height: 250px;

  time {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -2px;
  }

  .remove {
    color: #d61d00;
  }

  .accept {
    color: #4a7801;
  }

  font-size: 18px;
  li:first-child {
    font-size: 40px;
  }
}

.timeline {
  line-height: 36px;
}

#save {
  float: right;
}

h4 {
  font-weight: bold;
}

#tags_verify {
  margin-top: 15px;
  height: 190px;
  overflow: hidden;
}

.footer {
  box-shadow: 0px -10px 20px 0px white;
  position: relative;
}

.tagger {
  opacity: 0.2;
  max-height: 60px;
  overflow: hidden;

  transition: opacity 0.5s ease-out, max-height 0.2s ease-out, color 0.2s ease-out;

  button {
    opacity: 0;
  }

  font-size: 18px !important;

  &.is-done {
    max-height: 0;
    font-size: 40px !important;
  }

  &.in-progress {
    font-size: 40px !important;
    &, button {
      opacity: 1;
    }
  }

  button:first-of-type {
    margin-left: 10px;
  }

  &.is-accepted {
    color: #4cae4c;
  }
  &.is-rejected {
    color: #d9534f;
  }
}
